.vertical-toolbar {
    background-color: #b6b7cb;
    width: 40px;
    text-align: center;
}

.dashboard-height {
    height: calc(100vh - 64px);
}

.application-card {
    height: 20rem;
}

.application-icon {
    height: 7rem;
    display: table-cell;
    vertical-align: middle;
}