<div fxLayout="row" class="dashboard-height">
    <div class="vertical-toolbar py-2">
        <div mat-icon-button class="material-symbols-rounded text-light cursor-pointer" (click)="addApplication()">
            <mat-icon>add_box</mat-icon>
        </div>
    </div>
    <div fxLayout="row wrap" class="overflow-auto">
        <div fxFlex="40" class="m-5" *ngFor="let application of applications">
            <mat-card class="application-card">
                <h2 class="text-center">{{application.name}}</h2>
                <div class="text-center mb-3 application-icon">
                    <center>
                        <img class="w-25 m-0" mat-card-image width="100px" [src]="application.icon">
                    </center>
                </div>
                <mat-card-content>
                    <p>{{application.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="bottom-0 m-2 position-absolute" mat-button (click)="routeTo(application.routePath)"
                        [disabled]="application.primaryButtonDisabled">{{application.primaryButton}}</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>