<mat-drawer-container class="example-container h-100">
    <mat-drawer #drawer mode="over" class="main-app-drawer">
        <div class="text-center p-3 title-border">
            <h2 class="font-weight-bolder font-italic mb-0">Amalgam</h2>
            <p>It is possible</p>
        </div>
    </mat-drawer>
    <app-main-header (menuClicked)="drawer.toggle()"></app-main-header>
    <div *ngIf="authService?.isUserLoggedIn(); else landingPage">
        <router-outlet></router-outlet>
    </div>
    <ng-template #landingPage>
        <div class="landing-page">AMALGAM</div>
    </ng-template>
</mat-drawer-container>