<div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div fxFlex="20" class="m-3" *ngFor="let user of (selectUsers | async)">
        <mat-card class="example-card">
            <mat-card-header class="align-items-center">
                <div mat-card-avatar>
                    <img class="w-100 m-0" mat-card-image width="100px" src="../../../../../assets/male-user-icon.png">
                </div>
                <mat-card-title>{{user.username}}</mat-card-title>
                <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
                <mat-icon class="cursor-pointer" (click)="deleteUser(user)">delete</mat-icon>
            </mat-card-header>
        </mat-card>
    </div>
</div>